body {
    background-image:url(intro-1632925093.webp);
    background-size:cover ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

table {
    background-color: grey;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 15px;
    text-align: center;
}

th {
    color: yellowgreen;
    background-color: #f2f2f2;
}

button {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}
h1,h2{
    color:darkred;
}